/* Globals */
/* #region */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: sticky;
    top: 100vh;
}

button {
    cursor: pointer;
}

p, span {
    margin-bottom: 0.7rem;
}

span {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

.line {
    border: 2px solid #1c222e;
    border-radius: 2px;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.suggestions-list {
    position: absolute;
    z-index: 1000;
    margin-top: -18px;

    background: var(--pico-muted-border-color);
    color: var(--pico-mark-color);    
    border-radius: 5px;

    max-height: 200px;
    overflow-y: auto;
    width: auto;
    display: none;
}
.suggestions-list .suggestion-item {
    padding: 10px;
    cursor: pointer;
}
.suggestions-list .suggestion-item:hover {
    color: var(--pico-muted-border-color);
    background: var(--pico-mark-color);    
}

.index-container {
    width: 850px;
}
/* #endregion */

/* Forms */
/* #region */
.form-container {
    max-width: 500px;
}

.form-container h2 {
    margin-bottom: 12px;
}

.form-container #birthday-label {
    font-size: 0.8rem;
    margin-top: -14px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.form-container #submit {
    margin-bottom: 0;
}

.color-primary {
    color: var(--pico-primary);
}
/* #endregion */

/* Upload Section */
/* #region */
.upload-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.upload-container h3 {
    text-align: center;
    margin-bottom: 0;
}

.upload-container form {
    max-width: 400px;
    margin: 0;
}



.upload-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-image-container button {
    padding: 5px 10px;
    margin: 0 10px;
    width: 150px;
    height: 40px;
}

.upload-image-container img {
    object-fit: cover;
    border-radius: 0.6rem;
    width: 100%;
    max-width: 300px;
    max-height: 500px;
}
.grid-batch {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    gap: 1rem;
}
.images-container {
    padding: 5px 10px;
    margin: 0 10px;
    width: 150px;
    height: 100%;
    height: 40px;
}

.image-container button {
    padding: 5px 10px;
    margin: 0 10px;
    width: 150px;
    height: 40px;
}

.image-container img {
    object-fit: cover;
    border-radius: 0.6rem;
    width: 100%;
    max-width: 300px;
    max-height: 500px;
}

.upload-conclusion {
    display: block;
    color: white;
    background-color: #047878;
    font-weight: 400 !important;
    padding: 10px 20px !important;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.image-container-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 1280px) {
    .image-container-header {
        height: 65px;
    }
}
/* #endregion */

/* Profile Section */
/* #region */
.grid.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.profile-search-form {
    width: 35%;
}

@media screen and (max-width: 1024px) {
    .profile-search-form {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .profile-search-form {
        width: 100%;
    }
}

.cards-item {
    padding: 0.7rem 0 0.7rem 0;
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
}

.cards-item:hover {
    transform: translateY(-3px); 
}

.cards-item img {
    width: 190px;
    height: 220px;
    margin-bottom: 10px;
    object-fit: cover;
    border-radius: 1.5rem;
    clip-path: inset(2px 9px 2px 9px);
}
.cards-item .btn {
    display: block;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pico-background-color);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.modal-conclusions-list {
    list-style-type: none;
    padding: 0;
}

.modal-container img {
    object-fit: cover;
    border-radius: 1.5rem;
    max-width: 300px;
    max-height: 400px;
    margin-bottom: 10px;
}

.modal-container p {
    text-align: center;
}

.modal-content .close-btn{
    font-weight: bold;
    font-size: 1.5rem;
}

.conclusion {
    margin-bottom: 10px;
}
.conclusion-info {
    font-weight: bold;
    margin-bottom: 2px;
}

.conclusion-created-at {
    font-weight: normal;
    font-size: 0.8rem;
    color: #666;
}

.conclusion-text {
    margin-left: 10px;
}
/* #endregion */

/* Doctors conclusion Section */
/* #region */
.conclusion-container-aside {
    background-color: #1c222e;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    right: 20px;
    width: 25%;
    margin-left: auto;
}

.conclusion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.conclusion-container-item {
    width: 75%;
}

.conclusion-container-header {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.conclusion-container img {
    object-fit: cover;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 400px;
    max-height: 600px;
}

.conclusion-container form {
    margin-top: 1rem;
}

.conclusions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.conclusion {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.doctor-name {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.conclusion-date {
    font-style: italic;
    font-size: 12px;
    color: #666;
    margin-bottom: 0.5rem;
}

.conclusion-content {
    font-size: 16px;
}

.change-diagnosis-input, .change-diagnosis-submit {
    width: 100% !important;
    padding: 7px 12px !important ;
    margin-bottom: 7px !important ;
    height: 40px !important ;
}

.change-diagnosis-form {
    width: 100% !important;
}

/* #endregion */

/* Admin */
/* #region */
.action-cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.manage-user-delete button {
    padding: 1px 10px;
    margin: 0;
}

.manage-user-delete a {
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .edit-user-form {
        width: 100%;
    }
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.checkbox input{
    margin-top: -7px;
    margin-left: 0.3em;
}

.edit-user-form label{
    margin-left: 0.7em;
}

.admin-actions li {
    list-style-type: none;
}

.btn {
    display: block;
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
}

#results-panel {
    position: fixed;
    top: 20%;
    right: 2%;
    width: 300px;
    padding: 15px;
    background-color: var(--pico-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--pico-primary);
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

.retrain-form input {
    margin-bottom: 10px;
}

/* #endregion */