/* Globals */
/* #region */
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    position: relative;
    min-height: 100vh;
}

footer {
    position: sticky;
    top: 100vh;
}

button {
    cursor: pointer;
}
/* #endregion */

.registerform, .loginform {
    max-width: 500px;
}
.registerform label, .loginform label {
    margin-bottom: 0px;
}
.registerform span, .loginform span {
    display: inline-block;
    padding-bottom: 5px;
}

/* Upload */
/* #region */

h3 {
    font-size: 22px;
}

.grid-item {
    max-width: 400px;
}

.image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
}

.image-container button {
    padding: 5px 10px;
    width: 150px;
}

.image-container-header {
    width: 100%;
    max-width: 400px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0.5rem;
}

.image-container img {
    object-fit: cover;
    border-radius: 1.5rem;
    height: 400px;
}
/* #endregion */

/* Profile */
/* #region */


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}


.cards-item {
    border: 1px solid var(--card-border-color);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    max-width: 300px;
}

.cards-item:hover {
    transform: translateY(-5px); 
}

.cards-item img {
    width: 190px;
    height: 220px;
    margin-bottom: 10px;

    object-fit: cover;
    border-radius: 1.5rem;
    clip-path: inset(2px 9px 2px 9px);
}