{% extends 'base.html' %}

{% block head %}
    <title>Admin panel</title>
{% endblock %}

{% block content %}
    <h1>Admin panel</h1>

    <h2>Actions</h2>
    <ul class="admin-actions">
        <li><a class="btn" href="{{ url_for('register_doctor') }}">Register New Doctor</a></li>
        <li><a class="btn" href="{{ url_for('manage_users') }}">Manage users</a></li>
        <li><a class="btn" href="{{ url_for('view_errors') }}">Errors logs</a></li>
        <li><a class="btn" href="{{ url_for('retrain') }}">Retrain NN</a></li>
        <li><a class="btn" href="{{ url_for('select_checkpoint') }}">Select NN checkpoint</a></li>
    </ul>
{% endblock %}