{% extends 'base.html' %}

{% block head %}
    <title>Manage Users</title>
{% endblock %}

{% block content %}
<h1>Manage Users</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Active</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>{{ 'Yes' if user.is_active else 'No' }}</td>
        <td class="action-cell">
            {% if user.role == 'admin' %}
                <p  style="margin: 0;">----</p>
            {% else %}
                <a href="{{ url_for('update_user', user_id=user.id) }}">Edit</a>
                <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post" class="manage-user-delete">
                    <button type="submit">Delete</button>
                </form>
            {% endif %}
            
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
    