<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <!-- href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fuchia.min.css" -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >

    {% block head %}{% endblock %}
</head>
<body>
    <header class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/upload">Upload</a></li>
            </ul>
        </nav>
    </header>


    <main  class="container">
        {% block content %}
        {% endblock %}
    </main>


    <footer class="container">
        <small>
            Built with 
            <a href="https://picocss.com">Pico</a> • 
            <a href="https://github.com/picocss/examples/blob/master/v2-html/index.html" >Source code</a >
        </small>
    </footer>
</body>
</html>

    
