{% extends 'base.html' %}


{% block head %}
  <title>Classify</title>
{% endblock %}


{% block content %}
<div class="container">
    <h1>Classify MRI Images website</h1>
    <p>У 2020 році в усьому світі було виявлено <b>308 тисяч нових випадків</b> пухлин головного мозку та центральної нервової системи. У тому ж році було задокументовано 251 тисячу смертей. Ці цифри підкреслюють гостру потребу в інноваційних підходах у сфері медичної діагностики. </p>
    <p>Наслідки пухлин головного мозку можуть бути важкими і різноманітними. Вони включають постійні головні болі, судоми, психічні або поведінкові зміни, проблеми з пам’яттю або зміни особистості, прогресуючу слабкість або параліч з одного боку тіла, а також проблеми із зором чи мовленням. Ці симптоми глибоко впливають на життя людей, роблячи своєчасне виявлення та діагностику пухлин головного мозку ключовими факторами ефективного лікування. </p>
    <p>У сфері охорони здоров'я людський елемент, незалежно від його кваліфікації, <b>вразливий до втоми та можливих помилок</b>. Складність медичної діагностики означає, що навіть досвідчені лікарі можуть допускати критичні помилки. Це підкреслює важливість технологічної підтримки. </p>
    <p>Розроблене програмне забезпечення допомагає подолати обмеження людської витривалості, сприяючи більш повній та своєчасній оцінці результатів МРТ-сканувань. Співпраця між штучним інтелектом і медичним досвідом позиціонується не як заміна клінічного судження, а як його доповнення, яке розширює можливості медичних працівників і покращує шанси на успішне лікування пацієнтів. </p>
    <p>Для отримання більш точної класифікації захворювання важливо впроваджувати сучасні методи діагностики. Серед них використання штучного інтелекту (ШІ), зокрема, нейронних мереж (НМ), відіграє важливу роль. Спільне використання цих технологій з лікарем може помітно зменшити кількість неточних діагнозів та сприяти збереженню здоров'я та життя пацієнтів. </p>

    <p>Отже, основною метою даної роботи є розробка програмного забезпечення для діагностики пухлин головного мозку за знімком МРТ, спрямованого на зниження ризику невірного визначення діагнозу. </p>
</div>
{% endblock %}