{% extends 'base.html' %}

{% block head %}
  <title>Main page</title>
{% endblock %}

{% block content %}
  <div class="index-container container">
    <h1>Інформація про Пухлини Головного Мозку</h1>
    <p>Вітаємо на нашому сайті! Ми розуміємо, що думка про пухлини головного мозку може викликати занепокоєння. Проте, важливо знати, що сучасна медицина має багато ефективних методів діагностики та лікування, які допомагають успішно боротися з цими захворюваннями.</p>    
    <p>Пухлини головного мозку можуть бути як доброякісними, так і злоякісними. Доброякісні пухлини ростуть повільніше і не поширюються на інші частини тіла. Злоякісні пухлини, хоча і можуть бути агресивнішими, також піддаються лікуванню, особливо при ранній діагностиці.</p>    
    <p>Наш програмний продукт створений з метою допомогти лікарям швидко та точно визначати наявність пухлин за допомогою знімків МРТ. Використовуючи сучасні методи штучного інтелекту, ми забезпечуємо високу точність аналізу, що дозволяє виявити проблему на ранніх стадіях та розробити оптимальний план лікування.</p>    
    <p>Пам’ятайте, що вчасна діагностика – це ключ до успішного лікування. Регулярні обстеження та увага до свого здоров'я можуть значно підвищити шанси на одужання. Якщо у вас є будь-які запитання або ви хочете дізнатися більше про процес діагностики та лікування, не соромтеся звертатися до вашого лікаря.</p>    
    <p>Ми працюємо для вашого здоров'я та добробуту, і наше програмне забезпечення є частиною цієї важливої місії. Завдяки новітнім технологіям та професіоналізму медичних працівників, ми разом зможемо зробити важливі кроки на шляху до вашого одужання.</p>      
  </div>
{% endblock %}