{% extends 'base.html' %}

{% block head %}
  <title>Login</title>
{% endblock %}

{% block content %}

<div class="profile-container container">
    <h2>Profile Dr. {{ current_user.username }}</h2>
    <h3>All Images</h3>
    
    <div class="grid cards">
        {% for mri_scan in mri_scans %}
        <div class="cards-item">
            <img src="{{ url_for('get_file', filename=mri_scan.file_name) }}" alt="MRI Scan Image: {{ mri_scan.file_name }}">
            <p>Patient: {{ mri_scan.patient.first_name }} {{ mri_scan.patient.last_name }}</p>
            <p>Diagnosis: {{ mri_scan.diagnosis }}</p>
            <p>Diagnosed: <br>{{ mri_scan.upload_date | formatdatetime }}</p>
            <a href="{{ url_for('image', filename=mri_scan.file_name) }}" class="btn">Add Comment</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
