{% extends 'base.html' %}

{% block head %}
  <title>Login</title>
{% endblock %}

{% block content %}

<div class="profile-container container">
    <h1>Profile Patient. {{ current_user.username }}</h1>
    <h2>All Images</h2>
    
    <div class="grid cards">
        {% for mri_scan in mri_scans %}
        <div class="cards-item">
            <img src="{{ url_for('get_file', filename=mri_scan.file_name) }}" alt="{{ mri_scan.file_name }}">
            <p>Diagnosis: {{ mri_scan.diagnosis }}</p>
            <p>Uploaded: <br>{{ mri_scan.upload_date  | formatdatetime }}</p>
            <!-- <a href="{{ url_for('image', filename=mri_scan.file_name) }}" class="btn">AddComment</a> -->
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
